<!-- HTML page for user's profile -->

{% extends 'base.html' %}

{% block content %}

<div class="profile-detail">
  <h1 class="profile-header"><strong>{{ profile.name }}</strong></h1>
<div class="row detail-row">
  <div class="col l1 user-icon"><i class="material-icons person">person</i></div>
  <div class="col l1 user-specs" id="rec">Recommendations<br/><strong>235</strong></div>
  <div class="col l1 user-specs" id="following">Following<br/><strong>189</strong></div>
  <div class="col l1 user-specs" id="follwers">Follwers<br/><strong>89</strong></div>
</div>
<div class="row">
  <p class="profile-copy"><i class="material-icons">location_on</i>{{ profile.get_city_display }}</p>
  <p class="profile-copy profile-desc">{{ profile.description }}</p>
  <hr>
</div>

</div>
<!-- data should be coming in dynamically from database -->
<div class="row">
  {% for rec in profile.user.recommendation_set.all %}
  <div class="col l4 m8 offset-m2">
    <div class="card">
      <div class="card-image">
        <img src="{{ rec.photo_set.first.url }}">
        <span class="card-title">{{ rec.name }}</span>
      </div>
      <div class="card-content">
        <p>{{ rec.description }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'detail' rec.id %}">{{ rec.name }}</a>
        <a href="{% url 'city_index' rec.get_city_url %}">View more in {{ rec.get_city_display }}</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}