<!-- HTML page for user's profile -->

{% extends 'base.html' %}

{% block content %}
<div class="row">
  <h1 class="profile-copy">{{ profile.name }}</h1>
  <div class="col l1 offset-l2 offset-m2"><i class="material-icons person">person</i></div>
  <div class="col l1 user-specs" id="rec">Recommendations<br/><span>235</span></div>
  <div class="col l1 user-specs" id="following">Following<br/><span>189</span></div>
  <div class="col l1 user-specs" id="follwers">Follwers<br/><span>89</span></div>
</div>
<div class="row">
  <p class="profile-copy">{{ profile.city }}</p>
  <p class="profile-copy">{{ profile.description }}</p>
</div>

<!-- data should be coming in dynamically from database -->
<div class="row">
  {% for rec in profile.user.recommendation_set.all %}
  <div class="col l4 m8 offset-m2">
    <div class="card">
      <div class="card-image">
        <img src="{{ rec.photo_set.first.url }}">
        <span class="card-title">{{ rec.name }}</span>
      </div>
      <div class="card-content">
        <p>{{ rec.description }}</p>
      </div>
      <div class="card-action">
        <a href="#">{{ rec.name }}</a>
        <a href="#">View more in {{ rec.get_city_url }}</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}