{% extends 'base.html' %}

{% block content %}


<h1 class="home-header">Check out these recommendations...</h1>
<div class="row">
  {% for rec in recommendations %}
  <a href="{% url 'detail' rec.id %}">
    <div class="col l4 m12">
      <div class="card">
        {% if rec.photo_set %}
        <div class="card-image">
          <img src= {{ rec.photo_set.first.url }} >
          <span class="card-title">{{ rec.name }}<br/>{{ rec.get_city_display }}</span>
        </div>
        <div class="card-content">
          <p><strong>{{ rec.user }}</strong> {{ rec.description }}</p>
        </div>
        <div class="card-action">
          <a href="{% url 'profile_detail' rec.user.profile.id %}">@{{ rec.user }}</a>
          <a href="{% url 'city_index' rec.get_city_url %}">View more in {{ rec.get_city_display }}</a>
        </div>
        {% else %}
        <div class="card-content">
          <span class="card-title">{{ rec.name }}</span>
          <p>{{ rec.user }}: {{ rec.description }}</p>
        </div>
        <div class="card-action">
          <a href="#">@{{ rec.user }}</a>
          <a href="#">View more in {{ rec.city }}</a>
        </div>
        {% endif %}
      </div>
    </div>
  </a>
  {% endfor %}
</div>
{% endblock %}