<!-- recommendation detail page -->
{% extends 'base.html' %}

{% block content %}
<h1>{{ recommendation.name }} by @{{ recommendation.user }}</h1>
<div class="row">
    <div class="col l6 offset-l3 m8 offset-m2">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img src="{{ recommendation.photo_set.first.url }}">
        </div>
        <div class="card-content">
          <section class="map hide-map">
            <img class="map-img" src="{{ recommendation.get_map_url }}">
          </section>
          <p class="card-title grey-text text-darken-4"><span class='rec-name'>{{ recommendation.name }}</span> <span class="activator"><i class="material-icons right">more_vert</i></span></p>
          <span class='icon-row'><i class="material-icons">thumb_up</i> <i class="material-icons">comment</i> <i class="material-icons">send</i></span>
          <p><a href="#"><strong>{{ recommendation.user }}</strong> {{ recommendation.description }}</a></p>
          <form action="{% url 'add_comment' recommendation.id %}" method="post">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <input type="text" name="comment" placeholder='Say something'>
            <!-- <input type="submit" class="btn" value="Add Comment"> -->
          </form>
          {% for comment in recommendation.comment_set.all %}
            <p><strong>{{ comment.user }}</strong> {{comment.comment}} <span class="comment-date right">{{comment.created}}</span></p>
          {% endfor %}
          </div>
          
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{ recommendation.name }}<i class="material-icons right">close</i></span>
          <img src="{{ recommendation.photo_set.first.url }}" width="50%">
          <p><a href="#">{{ recommendation.user }}: {{ recommendation.description }}</a></p>
          <!-- <button type="submit">Edit</button> <button type="submit" class="red">Delete</button> -->

          <!------------FORM TO ADD A PHOTO--------------->
          <!-------------enctype - any time you send a file, it's send in multiple parts------------>
          <form action="{% url 'add_photo' recommendation.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
            {% csrf_token %}
          <!------------------name property matches with request.files.get in views.py---------------------->
            <input type="file" name="photo-file">
            <br><br>
            <input type="submit" class="btn" value="Upload Photo">
          </form>
          <a class="waves-effect waves-light btn" href="{% url 'update' recommendation.id %}">Edit</a>
          <a class="waves-effect waves-light btn red" href="{% url 'delete' recommendation.id %}">Delete</a>
          <!-- <form action="{% url 'update' recommendation.id %}" method="post"></form><button type="submit">Edit</button></form> -->
          <!-- <form action="{% url 'delete' recommendation.id %}" method="post"></form><button type="submit" class="red">Delete</button></form> -->
          <!-- <button type="submit">Edit</button> <button type="submit" class="red">Delete</button> -->
          <img src="{{ recommendation.get_map_url }}">
        </div>
      </div>
    </div>
</div>


{% endblock %}



