<!-- HTML page showing recommendations based of city -->


{% extends 'base.html' %}

{% block content %}

<h1 class="home-header">See more around <strong>{{ object_list.first.get_city_display }}</strong>...</h1>
<div class="row">
  {% for rec in object_list %}
    <a href="{% url 'detail' rec.id %}">
      <div class="col l4 m8 offset-m2">
        <div class="card">
          {% if rec.photo_set %}
          <div class="card-image">
            {% if rec.photo_set.first.url %}
            <img src="{{ rec.photo_set.first.url }}">
            <span class="card-title">{{ rec.name }}<br>{{ rec.get_city_display}}</span>
            {% endif %}
          </div>
          <div class="card-content">
            <p><strong>{{ rec.user }}</strong> {{ rec.description }}</p>
          </div>
          <div class="card-action">
            <a href="{% url 'profile_detail' rec.user.profile.id %}">View more from {{ rec.user }}</a>
          </div>
          {% else %}
          <div class="card-content">
            <span class="card-title">{{ rec.name }}</span>
            <p><strong>{{ rec.user }}</strong> {{ rec.description }}</p>
          </div>
          <div class="card-action">
            <a href="#">View more from {{ rec.user }}</a>
          </div>
          {% endif %}
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
{% endblock %}

