@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body{
  background-color: #fbfbfb;
  font-family: Helvetica Neue, arial, sans-serif;
}

h1{
  font-weight: 300;
}

.home-header{
  text-align: left;
}

.navbar-fixed{
  margin-bottom: 50px;
}

.nav-wrapper{
  background: #87ceeb !important;
  padding: 0 10% !important;
}

.card-title{
  font-weight: 300 !important;
}

.card-content{
  text-align: left !important;
}

.card-content p {
  font-size: 16px !important;
  font-weight: 300;
}

a.brand-logo{
  font-family: 'Lobster';
  font-size: 3em;
  letter-spacing: 1px;
}

#first-card-top-pad{
  padding-top: 50px !important;;
}

.row a{
  color: #000;
}

.col.l1.user-specs{
  margin: 0 25px;
  padding: 0 !important;
  text-align: left !important;
}

.profile-header{
  text-align: left;
}

/* .card .card-content{
  padding: 5px 24px 24px 24px !important;
} */

.icon-row{
  text-align: left;
  padding-right: 0.5em !important;
  color: rgb(100, 99, 99) !important;
}

.icon-row i{
  padding-right: 0.5em;
  font-size: 16px !important;
}

.icon-row .add-pad{
  padding-left: 8px;
}

a.btn{
  color: #fff !important;
}

span.comment-date{
  font-size: 12px !important;
  vertical-align: middle !important;
  padding-top:0.27em;
}

.card{
  transition: 0.3s !important;
  width: 99%;
}

.card:hover{
  width: 100%;
}

.card-image {
  height: 500px;
}
.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .card-action{
  font-size: 14px !important;
  padding: 16px 0 !important;
}

.airplane-icon {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0.5);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  padding-left: 0.25em;
}

.airplane-icon i{
  font-size: 45px !important;
}

.map{
  margin: 0 auto;
  text-align: center;
}

.show-map{
  display: block;
}

.hide-map{
  display: none;
  transition: display 2s;
}

.row.no-pad .col{
  padding: 0 !important;
}

.rec-name{
  cursor: pointer;
  font-size: 26px;
}

.activator{
  cursor: pointer;
}

.profile-copy{
  font-size: 18px !important;
  margin: 0;
  padding: 5px 0;
}

.profile-copy.profile-desc{
  font-size: 14px !important;
}

.profile-detail .row{
  text-align: left;
}

.profile-detail .row .col {
  padding: 0 !important;
}

.profile-detail .row .col .li .user-icon{
  margin: 0 !important;
}